doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Director's Dashboard
    link(rel='stylesheet' href='/css/director-dashboard.css')

  body
    header
      nav.navbar
        ul.nav-list
          li
            a#logout-button(href='/logout') Logout

    main
      h2.text-center.mt-4 Welcome to Director's Dashboard

      section#total-sales
        h2 Total Sales
        table
          thead
            tr
              th Description
              th Amount
          tbody
            tr
              td(data-label='Description')   Total Sales in UGX
              td(data-label='Amount')
                span#total-sales-amount    #{totalRevenue.totalsale.toLocaleString()}
            tr
              td(data-label='Description') Total Tonnes Sold
              td(data-label='Amount')
                span#total-tonnes-sold #{totalRevenue.totalquantitysold.toLocaleString()} kg

      section#credit-sales
        h2 Credit Sales
        table
          thead
            tr
              th Description
              th Amount
          tbody
            tr
              td(data-label='Description') Total Credit Sales Amount
              td(data-label='Amount')
                span#credit-sales-amount UGX #{totalCreditAmount.toLocaleString()}
            tr
              td(data-label='Description') Total Credit Sales Tonnes
              td(data-label='Amount')
                span#credit-tonnes-sold #{totalCreditTonnage.toLocaleString()} kg

      section#branch-sales
        h2 Branch-wise Sales
        table
          thead
            tr
              th Branch
              th Sales Amount
              th Tonnage Sold
          tbody
            if branchSales && branchSales.length
              each branch in branchSales
                tr
                  td(data-label='Branch')= branch.branchName
                  td(data-label='Sales Amount')
                    span.branch-sales-amount UGX #{branch.salesAmount.toLocaleString()}
                  td(data-label='Tonnage Sold')
                    span.branch-tonnage-sold #{branch.tonnageSold.toLocaleString()} kg
            else
              tr
                td(colspan='3') No branch sales data available.

      section#product-sales
        h2 Total Sales per Product (All Branches)
        table
          thead
            tr
              th Product
              th Total Quantity Sold (kg)
              th Total Sales Amount (UGX)
          tbody
            if productSales && productSales.length
              each productSale in productSales
                tr
                  td #{productSale.produceName}
                  td  #{productSale.totalQuantity.toLocaleString()} Kg
                  td UGX #{productSale.totalSales.toLocaleString()}
            else
              tr
                td(colspan="3") No product sales data available.

    footer
      p &copy; 2025 Karibu Groceries LTD. All rights reserved.

    script(src='/js/director-dashboard.js')
