doctype html
html
  head
    title Sales Agent Dashboard-Maganjo 
    link(rel='stylesheet' href='/css/sales-agent-dashboard.css')
  body
    header
      h1 Welcome #{agentName}
      nav
        ul
          li: a(href='/addSale') Record Cash Sale
          li: a(href='/creditsalesAgentMaganjoDash') Record Credit Sale
          li: a(href='/salesHistory') My Sales History
          li: a(href='/logout') Logout

    main
      section
        h2 Today's Overview
        p Total Revenue Today: UGX #{totalSalesToday}
        p Outstanding Credit Value: UGX #{outstandingCredits}

      section
        h2 My Sales Summary
        p Total Cash Sales: UGX #{totalAmount}
        p Total Credit Sales: UGX #{totalCredit}

      section
        h3 Recent Cash Sales
        table
          thead
            tr
              th Produce
              th Tonnage (kg)
              th Amount Paid
              th Date
          tbody
            if sales && sales.length
              each sale in sales
                tr
                  td #{sale.produceName}
                  td #{sale.quantitySold}
                  td #{sale.quantitySold * sale.pricePerKg}
                  td #{moment(sale.saleDate).format("DD-MM-YYYY")}
            else
              tr
                td(colspan="4") No cash sales available.

      section
        h3 Outstanding Credit Sales
        table
          thead
            tr
              th Buyer
              th Produce
              th Amount Due
              th Due Date
          tbody
            if credits && credits.length
              each credit in credits
                tr
                  td #{credit.creditBuyerName}
                  td #{credit.creditProduceName}
                  td #{credit.amountDue}
                  td #{moment(credit.dueDate).format("DD-MM-YYYY")}
            else
              tr
                td(colspan="4") No outstanding credit sales.

    //- footer
    //-   p &copy; 2025 Karibu Groceries LTD.
